# Table of content

1. [Problem Statement](#section1)<br>
2. [Data Loading and Description](#section2)
3. [Data Profiling](#section3)
    - 3.1 [Understanding the Dataset](#section301)<br/>
    - 3.2 [Pre Profiling](#section302)<br/>
    - 3.3 [Preprocessing](#section303)<br/>
    - 3.4 [Post Profiling](#section304)<br/>
4. [Questions](#section4)
    - 4.1 [Off all the passengers, how many survived and how many died?](#section401)<br/>
    - 4.2 [Who is more likely to survive, Male or Female?](#section402)<br/>
    - 4.3 [What is the rate of survival of males, females and child on the basis of Passenger Class?](#section403)<br/>
    - 4.4 [What is the survival rate considering the Embarked variable?](#section404)<br/>
    - 4.5 [Survival rate - Comparing Embarked and Sex.](#section405)<br/>
    - 4.6 [How survival rate vary with Embarked, Sex and Pclass](#section406)<br/>
    - 4.7 [Segment age in bins with size 10.](#section407)<br/>
    - 4.8 [Analysing SibSp and Parch variable.](#section408)<br/>
    - 4.9 [Segment fare in bins of size 12.](#section409)<br/>
    - 4.10 [Draw pair plot to know the joint relationship between 'Fare','Age','Pclass' and 'Survived'](#section410)<br/>
    - 4.11 [Establish coorelation between all the features using heatmap.](#section411)<br/>
    - 4.12 [Hypothesis: Women and children are more likely to survive](#section412)<br/>
5. [Conclusions](#section5)<br/>

### 1. Problem Statement

EDA for Car sales data.

### 2. Data Loading and Description

In [1]:
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

from subprocess import check_output

In [26]:
car_sales = pd.read_csv(r'C:\INSAID\Term1\Project\Term-1\Data\Projects\car_sales.csv', encoding='mbcs')
car_sales.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN

In [27]:
car_sales.shape

(9576, 10)

In [29]:
car_sales.columns

Index(['car', 'price', 'body', 'mileage', 'engV', 'engType', 'registration',
       'year', 'model', 'drive'],
      dtype='object')

In [33]:
car_sales.describe(include='all')

,car,price,body,mileage,engV,engType,registration,year,model,drive
count,9576,9576.000000,9576,9576.000000,9142.000000,9576,9576,9576.000000,9576,9065
unique,87,NaN,6,NaN,NaN,4,2,NaN,888,3
top,Volkswagen,NaN,sedan,NaN,NaN,Petrol,yes,NaN,E-Class,front
freq,936,NaN,3646,NaN,NaN,4379,9015,NaN,199,5188
mean,NaN,15633.317316,NaN,138.862364,2.646344,NaN,NaN,2006.605994,NaN,NaN
std,NaN,24106.523436,NaN,98.629754,5.927699,NaN,NaN,7.067924,NaN,NaN
min,NaN,0.000000,NaN,0.000000,0.100000,NaN,NaN,1953.000000,NaN,NaN
25%,NaN,4999.000000,NaN,70.000000,1.600000,NaN,NaN,2004.000000,NaN,NaN
50%,NaN,9200.000000,NaN,128.000000,2.000000,NaN,NaN,2008.000000,NaN,NaN
75%,NaN,16700.000000,NaN,194.000000,2.500000,NaN,NaN,2012.000000,NaN,NaN
max,NaN,547800.000000,NaN,999.000000,99.990000,NaN,NaN,2016.000000,NaN,NaN

In [34]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 10 columns):
car             9576 non-null object
price           9576 non-null float64
body            9576 non-null object
mileage         9576 non-null int64
engV            9142 non-null float64
engType         9576 non-null object
registration    9576 non-null object
year            9576 non-null int64
model           9576 non-null object
drive           9065 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 748.2+ KB

In [35]:
car_sales.car.unique()

array(['Ford', 'Mercedes-Benz', 'Nissan', 'Honda', 'Renault', 'BMW',
       'Land Rover', 'Volkswagen', 'Audi', 'Chrysler', 'Jaguar',
       'Mitsubishi', 'Kia', 'Porsche', 'Toyota', 'Hyundai', 'Opel',
       'Chevrolet', 'Skoda', 'Daewoo', 'Mazda', 'Lexus', 'Infiniti',
       'Tesla', 'Subaru', 'VAZ', 'Alfa Romeo', 'Smart', 'Peugeot',
       'Suzuki', 'Chery', 'Bentley', 'Volvo', 'SsangYong', 'Fiat', 'ZAZ',
       'Citroen', 'Dodge', 'Jeep', 'Great Wall', 'Seat', 'MINI', 'Dacia',
       'Hummer', 'Geely', 'Maserati', 'BYD', 'Cadillac', 'Acura',
       'Aston Martin', 'Rover', 'GAZ', 'GMC', 'Lincoln', 'ËUAZ',
       'Moskvich-AZLK', 'FAW', 'UAZ', 'Rolls-Royce', 'TATA', 'ZX',
       'Lifan', 'Mercury', 'Groz', 'Moskvich-Izh', 'Saab', 'Lancia',
       'Aro', 'Ferrari', 'Isuzu', 'Bogdan', 'Dadi', 'Other-Retro', 'MG',
       'Samand', 'JAC', 'Samsung', 'Lamborghini', 'Daihatsu', 'Hafei',
       'SMA', 'Fisker', 'Changan', 'Barkas', 'Huanghai', 'Wartburg',
       'Buick'], dtype=object)

In [36]:
car_sales.year.unique()

array([2010, 2011, 2008, 2012, 2013, 2003, 2016, 1996, 2006, 2007, 2014,
       2015, 1999, 2002, 1997, 2000, 2009, 1998, 2001, 2005, 2004, 1987,
       1994, 1989, 1992, 1993, 1995, 1986, 1991, 1990, 1981, 1978, 1988,
       1961, 1985, 1983, 1974, 1971, 1979, 1982, 1958, 1962, 1963, 1977,
       1980, 1959, 1984, 1973, 1953, 1970, 1976, 1972, 1964, 1969, 1968,
       1975], dtype=int64)

In [37]:
car_sales.engType.unique()

array(['Gas', 'Petrol', 'Diesel', 'Other'], dtype=object)

In [38]:
car_sales.body.unique()

array(['crossover', 'sedan', 'other', 'van', 'vagon', 'hatch'],
      dtype=object)

In [39]:
byEngType = car_sales.groupby('engType')
byEngType.count()

          car  price  body  mileage  engV  registration  year  model  drive
engType
Diesel   3013   3013  3013     3013  2954          3013  3013   3013   2881
Gas      1722   1722  1722     1722  1663          1722  1722   1722   1656
Other     462    462   462      462   274           462   462    462    347
Petrol   4379   4379  4379     4379  4251          4379  4379   4379   4181

In [41]:
car_sales[(car_sales['drive'].isnull())]

,car,price,body,mileage,engV,engType,registration,year,model,drive
4,Mercedes-Benz,33000.00,vagon,91,NaN,Other,yes,2013,E-Class,NaN
37,Audi,2850.00,sedan,260,NaN,Other,no,1999,A6,NaN
44,BMW,39333.00,sedan,6,2.00,Petrol,yes,2016,520,NaN
52,Mercedes-Benz,31500.00,sedan,123,2.20,Diesel,yes,2011,E-Class,NaN
103,Volkswagen,10000.00,van,231,1.90,Diesel,yes,2005,T5 (Transporter) ïàññ.,NaN
109,Nissan,12400.00,hatch,26,NaN,Other,yes,2011,Leaf,NaN
119,Mercedes-Benz,29500.00,sedan,37,1.80,Petrol,yes,2012,E-Class,NaN
137,Mercedes-Benz,93555.00,crossover,0,NaN,Other,yes,2016,GLS 350,NaN
154,Nissan,17700.00,crossover,40,1.60,Petrol,yes,2014,Qashqai,NaN
163,Mercedes-Benz,17900.00,van,167,2.20,Diesel,yes,2012,Vito ãðóç.,NaN
216,Porsche,51900.00,sedan,78,4.80,Petrol,yes,2011,Panamera,NaN
219,Nissan,11500.00,crossover,128,2.00,Petrol,yes,2008,Qashqai,NaN
234,Mercedes-Benz,24999.00,sedan,112,2.20,Diesel,yes,2012,C-Class,NaN
254,Audi,1950.00,sedan,320,19.00,Other,no,1996,A4,NaN
261,Renault,13300.00,other,132,1.50,Diesel,yes,2012,Megane,NaN
334,Toyota,36000.00,crossover,940,NaN,Other,yes,2009,Land Cruiser 200,NaN
393,Smart,10700.00,other,23,1.00,Petrol,yes,2014,Fortwo,NaN
394,Mercedes-Benz,41900.00,sedan,95,6.20,Petrol,yes,2011,S 500,NaN
431,Nissan,16800.00,crossover,70,2.00,Petrol,yes,2013,Qashqai,NaN
450,Audi,2850.00,vagon,280,2.50,Diesel,no,1999,A6,NaN
460,Land Rover,79450.00,other,0,NaN,Diesel,yes,2016,Range Rover Sport,NaN
468,Renault,7250.00,van,83,NaN,Other,yes,2013,Kangoo ãðóç.,NaN
499,Smart,4200.00,other,130,99.99,Petrol,yes,2002,Fortwo,NaN
512,Volkswagen,23000.00,sedan,75,2.00,Petrol,yes,2013,Passat CC,NaN
515,Audi,16000.00,sedan,250,2.00,Diesel,yes,2008,A6,NaN
532,Honda,14700.00,sedan,93,2.00,Petrol,yes,2009,Accord,NaN
581,Chevrolet,6700.00,hatch,88,1.60,Petrol,yes,2009,Lacetti,NaN
583,Toyota,8300.00,sedan,140,3.00,Petrol,yes,2002,Camry,NaN
596,Mazda,0.00,sedan,350,2.00,Other,yes,2003,6,NaN
601,Mercedes-Benz,3550.00,sedan,274,3.20,Diesel,no,2002,E-Class,NaN
...,...,...,...,...,...,...,...,...,...,...
9021,Mercedes-Benz,29900.00,crossover,86,3.00,Gas,yes,2010,GLK 300,NaN
9042,Infiniti,20800.00,crossover,52,NaN,Other,yes,2008,EX 35,NaN
9055,Nissan,15700.00,other,0,NaN,Other,yes,2012,Juke,NaN
9081,VAZ,1900.00,sedan,60,1.50,Petrol,yes,2004,2107,NaN
9097,Nissan,14200.00,sedan,35,NaN,Other,yes,2014,Leaf,NaN
9098,Skoda,8500.00,sedan,80,NaN,Petrol,yes,2013,Roomster,NaN
9099,Opel,1600.00,other,570,99.99,Gas,yes,1986,Kadett,NaN
9132,Mazda,21900.00,sedan,50,2.50,Petrol,yes,2013,6,NaN
9135,Volkswagen,14899.00,van,165,2.00,Diesel,yes,2013,Caddy ãðóç.,NaN
9236,BMW,77000.00,other,64,4.40,Petrol,yes,2012,M6,NaN
9238,Skoda,22999.00,other,1,1.60,Diesel,yes,2015,Octavia A7,NaN
9240,Volkswagen,10700.00,hatch,60,1.40,Petrol,yes,2010,Polo,NaN
9241,Mercedes-Benz,9500.00,sedan,246,6.00,Petrol,yes,1997,S 600,NaN
9242,Mercedes-Benz,8300.00,sedan,175,2.00,Petrol,yes,2001,E-Class,NaN
9245,Citroen,9900.00,vagon,177,1.60,Diesel,yes,2013,C5,NaN
9254,Volkswagen,18100.00,other,64,2.00,Petrol,yes,2011,Scirocco,NaN
9269,Daewoo,4650.00,sedan,8,1.30,Petrol,yes,2012,Sens,NaN
9289,Ford,5700.00,other,100,NaN,Other,yes,1985,Thunderbird,NaN
9320,Toyota,13900.00,hatch,90,1.60,Petrol,yes,2012,Auris,NaN
9338,Mitsubishi,9000.00,sedan,158,NaN,Other,yes,2007,Lancer,NaN
9360,Barkas,5500.00,van,80,NaN,Petrol,yes,2015,B1000,NaN
9398,ËUAZ,1296.75,other,30,1.20,Petrol,yes,1990,969Ì,NaN
9403,Mercedes-Benz,2600.00,hatch,111,1.40,Petrol,no,1999,A 140,NaN
9419,BMW,6800.00,sedan,325,NaN,Other,no,2005,525,NaN
9426,VAZ,3550.00,sedan,120,1.60,Petrol,yes,2006,2110,NaN
9445,Nissan,5000.00,sedan,260,3.00,Gas,yes,2000,Maxima,NaN
9450,VAZ,750.00,sedan,123,1.20,Petrol,yes,1990,2105,NaN
9469,Renault,5650.00,hatch,175,99.99,Other,yes,2002,Laguna,NaN
9537,Volkswagen,11500.00,other,51,1.60,Petrol,yes,2013,Polo,NaN
9566,UAZ,850.00,van,255,NaN,Other,yes,1981,3962,NaN

In [40]:
car_sales[(car_sales['engV'].isnull())]

,car,price,body,mileage,engV,engType,registration,year,model,drive
4,Mercedes-Benz,33000.000,vagon,91,NaN,Other,yes,2013,E-Class,NaN
13,BMW,4700.000,sedan,200,NaN,Petrol,yes,1996,316,rear
30,Nissan,13980.000,hatch,31,NaN,Other,yes,2013,Leaf,front
31,Nissan,17300.000,hatch,24,NaN,Other,yes,2013,Leaf,front
37,Audi,2850.000,sedan,260,NaN,Other,no,1999,A6,NaN
41,Nissan,13275.000,hatch,12,NaN,Other,yes,2013,Leaf,front
56,Nissan,17000.000,hatch,38,NaN,Other,yes,2013,Leaf,front
107,Volkswagen,33500.000,crossover,98,NaN,Petrol,yes,2013,Touareg,full
109,Nissan,12400.000,hatch,26,NaN,Other,yes,2011,Leaf,NaN
137,Mercedes-Benz,93555.000,crossover,0,NaN,Other,yes,2016,GLS 350,NaN
150,Daewoo,3500.000,sedan,112,NaN,Petrol,yes,2007,Lanos,front
212,Hyundai,10500.000,crossover,120,NaN,Other,yes,2007,Tucson,full
231,Nissan,17000.000,hatch,20,NaN,Other,yes,2014,Leaf,front
239,Nissan,14200.000,sedan,28,NaN,Other,yes,2014,Leaf,front
240,Tesla,159600.000,sedan,0,NaN,Other,yes,2016,Model S,full
247,Nissan,17500.000,hatch,62,NaN,Other,yes,2013,Leaf,front
259,Nissan,16500.000,hatch,32,NaN,Other,yes,2013,Leaf,front
273,Audi,2200.000,sedan,250,NaN,Diesel,no,2001,A6,front
275,Audi,2350.000,vagon,250,NaN,Diesel,no,2001,A6,front
276,Audi,2500.000,sedan,180,NaN,Petrol,no,2000,A4,front
310,Mitsubishi,6200.000,sedan,170,NaN,Other,yes,2005,Lancer,front
316,Tesla,80000.000,sedan,27,NaN,Other,yes,2013,Model S,front
319,Tesla,58000.000,hatch,52,NaN,Other,yes,2013,Model S,front
334,Toyota,36000.000,crossover,940,NaN,Other,yes,2009,Land Cruiser 200,NaN
337,Nissan,18500.000,hatch,9,NaN,Other,yes,2015,Leaf,front
338,Nissan,20999.000,hatch,12,NaN,Other,yes,2015,Leaf,front
341,Tesla,85500.000,sedan,1,NaN,Other,yes,2016,Model S,full
363,BMW,8000.000,sedan,330,NaN,Diesel,yes,1997,525,rear
371,Audi,1300.000,sedan,250,NaN,Gas,no,1994,80,front
386,Tesla,58000.000,sedan,8,NaN,Other,yes,2013,Model S,front
...,...,...,...,...,...,...,...,...,...,...
8899,Toyota,14200.000,sedan,31,NaN,Petrol,yes,2014,Corolla,NaN
8905,Changan,6028.000,crossover,101,NaN,Other,yes,2005,Ideal,NaN
8969,Opel,510.000,vagon,200,NaN,Petrol,no,1997,Vectra B,front
9002,VAZ,1600.000,sedan,1,NaN,Petrol,yes,1985,2106,rear
9042,Infiniti,20800.000,crossover,52,NaN,Other,yes,2008,EX 35,NaN
9055,Nissan,15700.000,other,0,NaN,Other,yes,2012,Juke,NaN
9096,Nissan,14200.000,sedan,18,NaN,Other,yes,2014,Leaf,front
9097,Nissan,14200.000,sedan,35,NaN,Other,yes,2014,Leaf,NaN
9098,Skoda,8500.000,sedan,80,NaN,Petrol,yes,2013,Roomster,NaN
9118,Land Rover,20500.000,crossover,119,NaN,Diesel,yes,2006,Range Rover Sport,full
9178,Ford,17999.000,sedan,32,NaN,Other,yes,2014,Focus Electric,front
9180,Renault,6700.000,van,1,NaN,Diesel,yes,2012,Kangoo ãðóç.,front
9196,Renault,6200.000,van,322,NaN,Diesel,yes,2001,Trafic ïàññ.,front
9250,Nissan,15700.000,hatch,42,NaN,Other,yes,2013,Leaf,front
9289,Ford,5700.000,other,100,NaN,Other,yes,1985,Thunderbird,NaN
9309,Kia,10900.000,sedan,28,NaN,Petrol,yes,2013,Rio,front
9323,Mitsubishi,10200.000,sedan,104,NaN,Gas,yes,2008,Lancer X,front
9338,Mitsubishi,9000.000,sedan,158,NaN,Other,yes,2007,Lancer,NaN
9344,VAZ,4500.000,vagon,40,NaN,Petrol,yes,2009,2111,front
9360,Barkas,5500.000,van,80,NaN,Petrol,yes,2015,B1000,NaN
9383,BMW,5500.000,sedan,249,NaN,Other,yes,1995,530,rear
9396,Volkswagen,7700.000,other,290,NaN,Diesel,yes,2000,T4 (Transporter) ïàññ.,front
9419,BMW,6800.000,sedan,325,NaN,Other,no,2005,525,NaN
9425,Nissan,14999.000,hatch,21,NaN,Other,yes,2013,Leaf,front
9440,Mercedes-Benz,10000.000,van,450,NaN,Diesel,yes,1998,Sprinter 312 ïàññ.,rear
9470,Chrysler,0.000,vagon,198,NaN,Petrol,yes,2001,PT Cruiser,front
9480,Renault,8100.000,van,135,NaN,Diesel,yes,2008,Kangoo ïàññ.,front
9515,Renault,5000.000,vagon,150,NaN,Other,yes,2006,Kangoo ïàññ.,front
9546,VAZ,907.725,sedan,1,NaN,Other,yes,1986,2106,rear
9566,UAZ,850.000,van,255,NaN,Other,yes,1981,3962,NaN

In [61]:
car_sales_redu = car_sales.copy()
car_sales_redu.sort_values(inplace=True,by=['car','model','engType'])
car_sales_redu.drop(['body','price','mileage','registration','engV','year'], inplace=True,axis=1 )
multiindex_carsales = car_sales_redu.set_index(['car','model'])
multiindex_carsales.sort_index(inplace=True)
# multiindex_carsales.drop(['body','price','mileage','registration','engV','year'], inplace=True,axis=1 )
multiindex_carsales[multiindex_carsales['drive'].isnull()]

                                  engType drive
car        model
Audi       80                       Other   NaN
           80                      Petrol   NaN
           A4                      Diesel   NaN
           A4                       Other   NaN
           A4                       Other   NaN
           A4                       Other   NaN
           A4                      Petrol   NaN
           A4                      Petrol   NaN
           A4                      Petrol   NaN
           A5                      Diesel   NaN
           A5                      Petrol   NaN
           A6                      Diesel   NaN
           A6                      Diesel   NaN
           A6                      Diesel   NaN
           A6                      Diesel   NaN
           A6                      Diesel   NaN
           A6                         Gas   NaN
           A6                       Other   NaN
           A6                       Other   NaN
           A6                       Other   NaN
           A6                       Other   NaN
           A8                       Other   NaN
           Q3                      Petrol   NaN
           Q7                      Diesel   NaN
           S4                      Petrol   NaN
           TT                      Petrol   NaN
BMW        1 Series                Petrol   NaN
           116                     Petrol   NaN
           318                     Petrol   NaN
           318                     Petrol   NaN
...                                   ...   ...
Volkswagen Passat CC               Petrol   NaN
           Polo                    Petrol   NaN
           Polo                    Petrol   NaN
           Polo                    Petrol   NaN
           Scirocco                Petrol   NaN
           Sharan                  Diesel   NaN
           T4 (Transporter) ãðóç   Diesel   NaN
           T4 (Transporter) ïàññ.  Diesel   NaN
           T4 (Transporter) ïàññ.  Diesel   NaN
           T5 (Transporter) ãðóç   Diesel   NaN
           T5 (Transporter) ãðóç   Diesel   NaN
           T5 (Transporter) ïàññ.  Diesel   NaN
           T5 (Transporter) ïàññ.  Diesel   NaN
           T5 (Transporter) ïàññ.  Diesel   NaN
           T5 (Transporter) ïàññ.  Diesel   NaN
           Tiguan                  Diesel   NaN
           Tiguan                  Petrol   NaN
           Touareg                 Diesel   NaN
           Touareg                 Diesel   NaN
           Touareg                 Diesel   NaN
           Touareg                 Diesel   NaN
           Touareg                  Other   NaN
Volvo      XC60                    Diesel   NaN
ZAZ        1102 Òàâðèÿ             Petrol   NaN
           1103 Ñëàâóòà            Petrol   NaN
           110557                     Gas   NaN
           Lanos                    Other   NaN
           Sens                       Gas   NaN
           Vida                       Gas   NaN
ËUAZ       969Ì                    Petrol   NaN

[511 rows x 2 columns]